git+https://github.com/OCA/openupgradelib.git@master
git+https://github.com/aeroo/aeroolib.git@b591d23c98990fc358b02b3b78d46290eadb7277
unicodecsv
unidecode
pandas
numpy
qrcode
pyotp<2.4
xlsxwriter
icalendar
