# See https://github.com/Tecnativa/doodba#optodoocustomsrcreposyaml
./odoo:
  defaults:
    # Shallow repositories ($DEPTH_DEFAULT=1) are faster & thinner
    # You may need a bigger depth when merging PRs (use $DEPTH_MERGE
    # for a sane value of 100 commits)
    depth: $DEPTH_DEFAULT
  remotes:
    ocb: https://github.com/OCA/OCB.git
    odoo: https://github.com/odoo/odoo.git
    openupgrade: https://github.com/OCA/OpenUpgrade.git
  target: ocb $ODOO_VERSION
  merges:
    - ocb $ODOO_VERSION
    # Example of a merge of the PR with the number <PR>
    # - oca refs/pull/<PR>/head

aeroo:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/aeroo/aeroo_reports.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-server-tools:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/server-tools.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-web:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/web.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-partner-contact:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/partner-contact.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-product-attribute:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/product-attribute.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-social:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/social.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-knowledge:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/knowledge.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-reporting-engine:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/reporting-engine.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

opnsynid-server-tools:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-server-tools.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-web:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-web.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-partner-contact:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-partner-contact.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-product-attribute:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-product-attribute.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-curated:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-odoo-curated.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

itpp-mail:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/itpp-labs/mail-addons.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

{% if commercial_set_module %}
opnsynid-app-store:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: git@github.com:open-synergy/opnsynid-app-store.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
{% endif %}

{% if fa_set_module or spw_set_module%}
oca-account-invoicing:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/account-invoicing.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION
{% endif %}

{% if fa_set_module %}
oca-account-financial-tools:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/account-financial-tools.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-account-payment:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/account-payment.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-mis-builder:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/mis-builder.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

oca-account-closing:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    upstream: https://github.com/OCA/account-closing.git
  target:
    upstream $ODOO_VERSION
  merges:
    - upstream $ODOO_VERSION

opnsynid-account-voucher:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-account-voucher.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-account-closing:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-account-closing.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-account-financial-tools:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-account-financial-tools.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-account-invoicing:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-account-invoicing.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-account-invoice-reporting:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-account-invoice-reporting.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-accounting-report:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-accounting-report.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION

opnsynid-account-payment:
  defaults:
    depth: $DEPTH_DEFAULT
  remotes:
    origin: https://github.com/open-synergy/opnsynid-account-payment.git
  target:
    origin $ODOO_VERSION
  merges:
    - origin $ODOO_VERSION
{% endif %}

{% if spw_set_module %}
odoomrp-wip:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        upstream: https://github.com/odoomrp/odoomrp-wip
    target:
        upstream $ODOO_VERSION
    merges:
        - upstream $ODOO_VERSION

oca-crm:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        upstream: https://github.com/OCA/crm.git
    target:
        upstream $ODOO_VERSION
    merges:
        - upstream $ODOO_VERSION

oca-sale-workflow:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        upstream: https://github.com/OCA/sale-workflow.git
    target:
        upstream $ODOO_VERSION
    merges:
        - upstream $ODOO_VERSION

oca-purchase:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        upstream: https://github.com/OCA/purchase-workflow.git
    target:
        upstream $ODOO_VERSION
    merges:
        - upstream $ODOO_VERSION

opnsynid-sale-workflow:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-sale-workflow.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

opnsynid-purchase-workflow:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-purchase-workflow.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

opnsynid-sale-reporting:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-sale-reporting.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

oca-stock-logistics-warehouse:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        upstream: https://github.com/OCA/stock-logistics-warehouse.git
    target:
        upstream $ODOO_VERSION
    merges:
        - upstream $ODOO_VERSION

oca-stock-logistics-workflow:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        upstream: https://github.com/OCA/stock-logistics-workflow.git
    target:
        upstream $ODOO_VERSION
    merges:
        - upstream $ODOO_VERSION

oca-stock-logistics-transport:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        upstream: https://github.com/OCA/stock-logistics-transport.git
    target:
        upstream $ODOO_VERSION
    merges:
        - upstream $ODOO_VERSION

opnsynid-stock-logistics-workflow:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-stock-logistics-workflow.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

opnsynid-stock-logistics-warehouse:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-stock-logistics-warehouse.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

opnsynid-stock-logistics-transport:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-stock-logistics-transport.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

opnsynid-stock-rma:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/stock-rma.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

opnsynid-crm:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-crm.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION

opnsynid-stock-reporting:
    defaults:
        depth: $DEPTH_DEFAULT
    remotes:
        origin: https://github.com/open-synergy/opnsynid-stock-reporting.git
    target:
        origin $ODOO_VERSION
    merges:
        - origin $ODOO_VERSION
{% endif %}
