hr_assignment_transition,hr_assignment_transition_job_family,hr_award,hr_career_administration_configuration_page,hr_career_transition,hr_career_transition_job_family,hr_career_transition_join_date,hr_career_transition_termination_date,hr_contract_additional_field,hr_contract_security,hr_demotion_transition,hr_demotion_transition_job_family,hr_dicipline,hr_employee_data_from_contract,hr_employee_data_from_contract_additional_field,hr_employee_job_family_from_contract,hr_join_transition,hr_join_transition_job_family,hr_mutation_transition,hr_mutation_transition_job_family,hr_promotion_transition,hr_promotion_transition_job_family,hr_termination_transition,hr_termination_transition_job_family
