fixed_asset,fixed_asset_capital_improvement,fixed_asset_complex_asset,fixed_asset_estimation_change,fixed_asset_impairment,fixed_asset_qrcode,fixed_asset_retirement_common,fixed_asset_retirement_donation,fixed_asset_retirement_missing,fixed_asset_retirement_sale,fixed_asset_retirement_scrap,fixed_asset_retirement_stolen
