hr_salary_rule_reference,hr_payroll_cancel,hr_payslip_move_date,hr_payroll_configuration_page,hr_payslip_batch_openchatter,hr_payslip_batch_to_payment_order,hr_payslip_compute_sheet,hr_payslip_extend,hr_payslip_import_input,hr_payslip_input_policy,hr_payslip_security,hr_payslip_timesheet_computation,hr_payslip_type,hr_payslip_workflow_policy,hr_assignment_transition_payroll_account,hr_career_transition_payroll,hr_career_transition_payroll_account,hr_career_transition_payslip_input_policy,hr_demotion_transition_input_type_policy,hr_demotion_transition_payroll_account,hr_join_transition_input_type_policy,hr_join_transition_payroll_account,hr_mutation_transition_input_type_policy,hr_mutation_transition_payroll_account,hr_promotion_transition_input_type_policy,hr_promotion_transition_payroll_account,hr_termination_transition_input_type_policy,hr_termination_transition_payroll_account
